
*.xccheckout

*.xcuserstate

FBLikeLayout Sample.xcodeproj/project.xcworkspace/xcuserdata/Lorentz.xcuserdatad/UserInterfaceState.xcuserstate

FBLikeLayout Sample.xcodeproj/project.xcworkspace/xcuserdata/Lorentz.xcuserdatad/UserInterfaceState.xcuserstate

*.xcuserstate
